<nav class="navbar navbar-expand-md navbar-static-top">
    <a class="navbar-brand m-0">
        <img src="../../assets/logo.png" width="auto" height="37">
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav nav">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sponsors</a>
            </li>
        </ul>
    </div>
</nav>

<div class="background">

    <img src="../../assets/maingraphic.png" class="main-graphic">

    <div class="jumbotron">
        <h1 id="title">nwPlus presents cmd-f</h1>
        <h2 id="join-us">Join us for Vancouver's first all-female* hackathon!</h2>
        <h2 id="date">March 9th-10th, 2019<br>at the University of British Columbia</h2>
        <div>
            <a href="mailto:hello@nwplus.io">
                <img src="../../assets/email-button.png" class="social-media-button">
            </a>
            <a href="https://www.instagram.com/nwplusubc/">
                <img src="../../assets/ig-button.png" class="social-media-button">
            </a>
            <a href="https://www.facebook.com/nwplusubc/">
                <img src="../../assets/fb-button.png" class="social-media-button">
            </a>
        </div>

        <img src="../../assets/find-bar.png" id="find-bar">
    </div>

</div>

<a href="#">
    <img src="../../assets/apply-button.png" id="apply-button">
</a>