<body class="background">
    <nav class="navbar navbar-expand-md navbar-static-top">

        <ul class="navbar-nav nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="../../assets/apply-button.png" id="apply-button">
                </a>
            </li>
        </ul>

    </nav>

    <div class="jumbotron">
        <img src="../../assets/maingraphic.png" class="main-graphic">
        <h1 id="title">nwPlus presents cmd-f</h1>
        <h2 id="date">March 9th-10th, 2019<br>at the University of British Columbia</h2>

        <div id="buttons">
            <a href="mailto:hello@nwplus.io">
                <img src="../../assets/email-button.png" class="social-media-button">
            </a>
            <a href="https://www.instagram.com/nwplusubc/">
                <img src="../../assets/ig-button.png" class="social-media-button">
            </a>
            <a href="https://www.facebook.com/nwplusubc/">
                <img src="../../assets/fb-button.png" class="social-media-button">
            </a>
        </div>

    </div>
</body>