.background {
    background-image: linear-gradient(rgb(25, 144, 162), rgb(97, 202, 218));
    height: 84vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #89CDD8;
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    position: absolute;
    bottom: 8px;
}

.main-graphic {
    position: relative;
    left: 3vw;
    top: 15vh;
    width: 850px;
    height: auto;
    float: left;
}

.jumbotron {
    background-color: transparent !important;
    position: relative;
    float: right;
    right: 8vw;
    top: 6vh;
}

.social-media-button {
    float: right;
    margin-left: 10px;
    margin-top: 30px;
}

.nav {
    float: right !important;
    margin-right: 20px;
}

.nav-link:hover {
    text-decoration: underline !important;
    background-color: transparent !important;
}

.nav-link {
    color: white;
}

#title {
    font-family: 'Nunito Semibold', sans-serif;
    color: white;
    font-size: 50px;
    text-align: right;
}

#date {
    font-family: 'Nunito Semibold', sans-serif;
    color: #2E2E2E;
    font-size: 24px;
    text-align: right;
    line-height: 150%;
    margin-top: 30px;
}

#find-bar {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-left: 13vw;
}

#join-us {
    position: relative;
    margin-top:10px;
    text-align: right;
    font-size: 18px;
    font-family: 'Zilla Slab';
    color: white;
}

#apply-button {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    top: 86.5vh;
}



