.background {
    background-image: linear-gradient(rgb(25, 144, 162), rgb(97, 202, 218));
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #89CDD8;
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.nav-link:hover {
    text-decoration: none !important;
    background: transparent;
}

.main-graphic {
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent !important;
}

.social-media-button {
    margin-left: 10px;
    margin-top: 30px;
    float: right;
}

.nav {
    float: right !important;
}

#title {
    font-family: 'Nunito Semibold', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    position: relative;
    display: block;
    top: 25px;
}

#date {
    position: relative;
    font-family: 'Nunito Semibold', sans-serif;
    color: #2E2E2E;
    font-size: 24px;
    text-align: center;
    line-height: 150%;
    top: 30px;
}

#find-bar {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-left: 13vw;
}

#join-us {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Zilla Slab';
    color: white;
    margin: 0;
}

#apply-button {
    height: 6vh;
    width: auto;
    margin-right: 1vw;
}

#buttons {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    top: 86vh;
}



