.background {
    background: linear-gradient(rgb(25, 144, 162), rgb(97, 202, 218));
    background-position: center;
    background-size: cover;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #89CDD8;
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.nav-link:hover {
    text-decoration: none !important;
    background: transparent;
}

.main-graphic {
    display: block;
    position: relative;
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    display: block;
    margin: 0 auto;
    background: transparent !important;
    max-width: 100%;
}

.social-media-button {
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
}

.nav {
    float: right !important;
}

#title {
    font-family: 'Nunito Semibold', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    position: relative;
    display: block;
    top: 25px;
}

#date {
    position: relative;
    font-family: 'Nunito Semibold', sans-serif;
    color: #2E2E2E;
    font-size: 24px;
    text-align: center;
    line-height: 150%;
    top: 25px;
}

#find-bar {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-left: 13vw;
}

#join-us {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Zilla Slab';
    color: white;
    margin: 0;
}

#apply-button {
    height: 5vh;
    width: auto;
    margin-right: 3px;
}

#buttons {
    display: block;
    margin: 0 auto;
    width: 150px;
    right:25%;
    left:50%;
    margin-left:-75px;
    bottom: 15px;
    position: absolute
}

#nwlogo {
    width: 3%;
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    
}