.background {
    background: white;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    width: 8%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.button-mess {
    width: 100%;
    position: absolute;
}

#subtitle {
    display: block;
    font-family: Nunito, sans-serif;
    font-size: 28px;
    text-align: center;
    line-height: 150%;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #F29E9F;
}

#description1 {
    text-align: left;
    font-family: Nunito, sans-serif;
    font-size: 19px;
    width: 80%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

#description2 {
    text-align: left;
    font-family: Nunito, sans-serif;
    font-size: 19px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#description3 {
    text-align: left;
    width: 80%;
    font-size: 15px;
    font-family: Nunito, sans-serif;
    color: #FFA63D;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    background: transparent !important;
}
