.background {
    background: white;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    width: 8%;
    height: auto;
    position: relative;
    top: -350px;
    margin-left: auto;
    margin-right: auto;
}

#subtitle {
    display: block;
    position: relative;
    top: -335px;
    font-family: Nunito, sans-serif;
    font-size: 28px;
    text-align: center;
    line-height: 150%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #F29E9F;
}

#description1 {
    text-align: left;
    position: relative;
    top: -300px;
    font-family: Nunito, sans-serif;
    font-size: 19px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#description2 {
    text-align: left;
    position: relative;
    top: -280px;
    font-family: Nunito, sans-serif;
    font-size: 19px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#description3 {
    text-align: left;
    position: relative;
    bottom: 25px;
    width: 80%;
    font-size: 15px;
    font-family: Nunito, sans-serif;
    color: #FFA63D;
    margin-left: auto;
    margin-right: auto;
}
