<body class="background">

  <div>
    <img src="../../assets/button-mess.png">
    <img src="../../assets/logo.png" class="logo">
  </div>

  <div>
    <h1 id="subtitle">An all-female* 24 hour hackathon, hosted at the University of British Columbia, where students
      will come together on a journey to innovate, inspire, and learn.</h1>
    <p id="description1">We're trying to shift the idea of what a hacker looks like and help women* explore the wide
      world of tech.
      cmd-f is hosted by nwPlus, the club that brought you nwHacks and UBC Local Hack Day!
      We are committed to fostering the local hacker community and empowering all those with the passion for tech. </p>
    <p id="description2">cmd-f is a safe and inclusive hacking space for an expected
      200 students of all levels to work in teams to create projects and find a community to help support them as they
      pursue their interest in tech.</p>
    <p id="description3">
      The cmd-f team would like to acknowledge that "female" or "women" is not an accurate description for many people
      and it may make some feel unwelcome. We use * to specifically and intentionally include cis and trans women, as
      well as non-binary, agender and intersex people.
    </p>
  </div>
</body>