body, html {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: Nunito Semibold;
    src: url("assets/Nunito/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: Nunito Bold;
    src: url("assets/Nunito/Nunito-Bold.ttf")
}

@font-face {
    font-family: Nunito;
    src: url("assets/Nunito/Nunito-Regular.ttf")
}

@font-face {
    font-family: Zilla Slab;
    src: url("assets/Zilla_Slab/ZillaSlab-Regular.ttf")
}

